<li data-transition="papercut" data-slotamount="7">
    <img src="{{ url(img_url) }}"/alt="" />
    <div class="tp-caption"  data-x="100" data-y="115" data-speed="700" data-start="1000" data-easing="easeOutBack"><h2>{{narasi}}</h2></div>
    <div class="tp-caption"  data-x="100" data-y="310" data-speed="500" data-start="1200" data-easing="easeOutBack"><a href="{{url}}" class="button big">Lebih lanjut</a></div>
</li>