{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}



{% block content %}
<section class="section page-heading animate-onscroll">
				
				<h1>{{page.title}}</h1>
				
			</section>
			<!-- Page Heading -->
			

			
			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
				
					<div class="col-lg-9 col-md-9 col-sm-8">
						
						<h3 class="animate-onscroll no-margin-top">{{page.title}}</h3>
                        {% include 'partials/youtube_frame.html.twig' with {'page':page} %}
					<p>
					{{ page.content|raw }}	
					</div>
					
					
                    {% include 'partials/mysidebar.html.twig' %}
					
				
				</div>
				
			</section>
            
{% endblock %}

